@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Raleway:wght@200&display=swap');
.container {
    max-width: 80vw;
    font-family: 'Raleway', sans-serif;
    color: azure;
}
.header {
    margin: 40px;
    height: 40px;
}
.logo {
    color: #ae31bf;
    font-size: 2.5rem;
    font-family: 'Fasthand', cursive;
}
.navbar li {
    list-style: none;
    margin: 10px;
}
.navbar li a {
    text-decoration: none;
    color: #ae31bf;
}
.navbar li a:hover {
    text-decoration: none;
    color: #ae31bf;
    border-bottom: 2px solid rgb(155, 101, 205);
    border-radius: 6px;
    padding: 5px;
}
.section1 > div {
    width: 60%;
    margin: 80px 0;
}
.left {
    padding: 20px;
    font-size: 3rem;
}
.span {
    color: #ae31bf;
}
#element {
    color: #ae31bf;
}
.right {
    width: 80%;
}
.dp {
    width: 90%;
}
hr {
    border: 0;
    background: #ae31bf;
    height: 1px;
}
.sec2h1 {
    font-size: 3rem;
}
.text-align {
    text-align: center;
}
.my-2 {
    margin-top: 26px;
    margin-bottom: 26px;
}
.leftsk > table > tbody > tr >th {
    font-size: 20px;
    padding: 20px;
}
.rightsk > table > tbody > tr >th {
    font-size: 20px;
    padding: 20px;
}
.leftsk {
    border: 1px solid #ae31bf;
    border-radius: 20px;
}
.rightsk {
    border: 1px solid #ae31bf;
    border-radius: 20px;
}
.sec3h1 {
    font-size: 3rem;
}
footer{
    padding: 23px;
    text-align: center;
}
.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3 table{
    width: 100%;
    margin-bottom: 100px;
    margin-top: 20px;
    border-collapse: collapse;
}
.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid #e6a8ef;
    padding: 15px 0;
} 
.section3 table td{   
    border-bottom: 2px solid #e6a8ef; 
} 
table > thead > tr > th {
    font-size: 1.5rem;
}
.ccontainer {
    padding: 20px;
    max-width: 80vw;
    font-family: 'Raleway', sans-serif;
    color: azure;
}
.contact-box {
    margin-top: 40px;
}
.cont-left {
    flex-basis: 60%;
    padding: 40px 60px;
    border: 1px solid black;
    border-radius: 8px;
}
.cont-left>div {
    padding-bottom: 20px;
}
.cont-right {
    flex-basis: 60%;
    padding: 40px;
    color: azure;
    border: 1px solid #e6a8ef;
    border-radius: 8px;
}
.cont-right>div {
    padding-bottom: 20px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-group {
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    outline: none;
}
textarea{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label {
    margin-bottom: 6px;
    display: block;
}
button{
    background-color: #e6a8ef;
    width: 80px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    outline: none;
    box-shadow: 0 2px 10px 0px rgb(109, 86, 112);
}
tr td:first-child {
    padding-right: 20px;
}
tr td {
    padding-top: 20px;
}
p{
    padding: 5px;
}
h1 {
    padding-top: 5px;
}
